html,
 body{
    height: 200%;
    margin: 0;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 200px;
    line-height: 1.8em;
    
}  
.pimg1{
    background-image:url('sun.jpg');
    min-height: 80%;
}
.pimg2{
    background-image:url('sun2.jpg');
    min-height: 50%;
}
.pimg3{
    background-image:url('sun3.jpg');
    min-height: 80%;
}
.pimg1,
.pimg2,
.pimg3{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 20%;
    width: 20%;
    color:black;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform:uppercase;
}
.textBg{
    background-color :#b6d0d0;
    color:white;
    padding: 15px;
    top:0px;
    text-align: center;
}

.section{
    padding:40px 80px;
    text-align: center ;
}
.section-light{
    background-color:#ff22;
    color: rgb(79, 11, 11);

}  

